<div class="top-strip"></div>
<div class="card shadow m-4 ">
  <form
    class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group mt-4">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
  </form>
  <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Customer name</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Customer name</th>
                    <th>Total</th>
                </tr>
            </tfoot>
            <tbody *ngFor="let order of orders  | filter:searchterm :'id'">
              <tr>
                <td>{{order.id}}</td>
                <td>{{(order.date).slice(0,10)}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">List</button>
                          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-body">
                                    <table>
                                        <thead>
                                          <tr>
                                              <th>Index</th>
                                              <th>Title</th>
                                              <th>Quantity</th>
                                              <th>price</th>
                                              <th>Total</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr >
                                              <!-- <td>s</td>
                                              <td>{{order.items[i].title}}</td>
                                              <td>{{order.items[i].price}}</td>
                                              <td>{{order.items[i].quaantity}}</td>
                                              <td>{{order.items[i].total}}</td> -->
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </td>
                <td>{{order.customer_name}}</td>
                <td>{{order.grand_total}}</td>
            </tr>

            </tbody>
        </table>
      </div>
  </div>
    
</div>